{% extends 'base.html' %}
{% load static %}
{% block title %}All Plants{% endblock %}

{% block main %}
<main>

    <div class="container mt-5 pt-5">

        <div class="container">
            <div>
                <h2>All Plants</h2>
            </div>
        </div>
        <div class="container p-5">
            <div class="row row-cols-1 row-cols-md-3 g-4 h-100">
                {% for plant in plants %}
                    <div class="col">
                        <a href="{% url 'plantApp:plant_details_view' plant.id %}" class="text-decoration-none ">
                            <div class="card h-100 border border-0">
                                <img src="{{ plant.image.url}}" class="card-img-top rounded" alt="..." style="height:14rem">
                                <div class="card-body">
                                    <h5 class="card-title">{{plant.name}}</h5>
                                    <p class="card-text text-secondary">{{plant.about}}</p>
                                    <p class="card-text h5">{{plant.category}}</p>

                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</main>
{% endblock %}