{% extends 'base.html' %}
{% load static %}
{% block title %}Add Plant{% endblock %}

{% block main %}

<main>
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-2 g-5 h-100 justify-content-center">
            <div class="col">
                <h1>Add New Plant</h1>
                <p>Complete Plant Information Bellow</p>
                <form action="{% url 'plantApp:new_plant_view' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="name">Plant Name</label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="Guava" minlength="3" maxlength="50" required/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="about">About</label>
                                <input type="text" id="about" name="about" class="form-control" placeholder="Guava is an edible tree..." minlength="20" maxlength="512" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col form-outline mb-4">
                        <label class="form-label" for="used_for">Used For</label>
                        <input type="text" id="used_for" name="used_for" class="form-control" placeholder="It's used as sweet edible food" minlength="20" maxlength="512" required/>
                    </div>
                    <div class="col form-outline mb-4">
                        <label class="form-label" for="category">Plant Category</label>
                        <select class="form-select" id="category" name="category" required>
                             {% for cat, label in categories %}
                                <option value="{{ cat }}">{{ label }}</option>
                             {% endfor  %}
                        </select>
                    </div>
                    <div class="col form-outline mb-4 text-center">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="is_edible" id="True" value="True" checked>
                            <label class="btn btn-outline-dark" for="True">Edible</label>

                            <input type="radio" class="btn-check" name="is_edible" id="False" value="False">
                            <label class="btn btn-outline-dark" for="False">Non-Edible</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text bg-dark text-light" for="image">Upload Plant Image</label>
                        <input type="file" class="form-control bg-dark text-light" id="image" name="image" accept="image/*" required>
                    </div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-dark btn-block p-2 mb-4">Add Plant</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</main>
{% endblock %}