{% extends 'base.html' %}
{% block title %} Plant Details {% endblock %}

{% block main %}
    <main>
        <div class="container row m-5 p-5 g-5">
            <div class="col">
                <img class="rounded" src="{{plant.image.url}}" style="width: 100%; height: 80%;">
            </div>
            <div class="col pt-5">

                <h1>{{plant.name}}</h1>
                <h2>{{plant.about}}</h2>
                <h2>{{plant.used_for}}</h2>

                <h3>category: {{plant.category}}</h3>
                <h3>Edible: {{plant.is_edible}}</h3>
                <h3>Created At: {{plant.created_at}}</h3>
                <div class="container m-3">
                    <a href="{% url 'plantApp:update_plant_view' plant.id %}" type="button" class="btn btn-dark me-2">Edit </a>
                    <a href="{% url 'plantApp:delete_plant_view' plant.id %}" type="button" class="btn btn-danger">Remove </a>
                </div>
            </div>

        </div>
        <hr class="my-4" style="width:90%;margin: 0 auto;">


            <div class="container p-3">
                <h5>Related Plants</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4 h-100 mt-3">
                    {% for related_plant in related_plants %}
                    <div class="col">
                        <a href="{% url 'plantApp:plant_details_view' related_plant.id %}" class="text-decoration-none ">
                            <div class="card h-100 border border-0">
                                <img src="{{ related_plant.image.url}}" class="card-img-top rounded" alt="..." style="height:14rem">
                                <div class="card-body">
                                    <h5 class="card-title">{{related_plant.name}}</h5>
                                    <p class="card-text text-secondary">{{related_plant.about}}</p>
                                    <p class="card-text h5">{{related_plant.category}}</p>
                                    <p class="card-text h6">{{ related_plant.created_at }}</p>

                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>


    </main>
{% endblock %}