{% extends 'base.html' %}
{% load static %}
{% block title %} Planteer {% endblock %}
{% block additional_style%}

{% endblock %}
{% block main %}
<main>
    <div class="container justify-content-center main-bg text-light align-items-center">
        <h1>Planteer</h1>
        <h2>Database For Plants Lovers</h2>
        <form class="d-flex" role="search">
            <input class="form-control pe-5 me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
    <div class="container mt-5 pt-5">

        <div class="container row">
            <div class="col">
                <h2>Plants</h2>
                <h5 class="text-secondary">Learn More About Plants</h5>
            </div>
            <div class="col text-end">
                <a href="{% url 'plantApp:all_plants_view'%}" class="text-decoration-none text-black h5">More -> </a>
            </div>
        </div>
        <div class="container p-5">
            <div class="row row-cols-1 row-cols-md-3 g-4 h-100">

                {% for plant in plants %}
                <div class="col">
                    <a href="#" class="text-decoration-none ">
                        <div class="card h-100 border border-0">
                            <img src="{{ plant.image.url }}" class="card-img-top rounded" alt="..." style="height:14rem">
                            <div class="card-body">
                                <h5 class="card-title">{{ plant.name }}</h5>
                                <p class="card-text text-secondary">{{ plant.about }}</p>
                                <p class="card-text h5">Category: {{plant.category}} Edible: {{plant.is_edible}}</p>

                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>
</main>
{% endblock %}